div {
    background-color: #212529;
    color: white;
}

.card-body {
    background-color: white;
    color: black;
}



div.col-6{
    text-indent: 5%;
    line-height: 2;
}

h1{
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

